<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Month Working Days</title>
</head>

<body>
  <h1>Select Month in 2022</h1>
  <form action="calculate" method="get">

    <select name="monthselected" id="monthselected">
      <option selected value="1">January</option>
      <option value="2">February</option>
      <option value="3">March</option>
      <option value="4">April</option>
      <option value="5">May</option>
      <option value="6">June</option>
      <option value="7">July</option>
      <option value="8">August</option>
      <option value="9">Sepetmber</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>

    <h1>Enter comma separated dates for holidays for chosen month</h1>
    <input type="text" placeholder="Enter dates" name="holiday_csv">
    <button type="submit">Submit</button>
  </form>
</body>

</html>